<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBxf4JlUeqaf8bZaOGzCgEhrf38_hQkIlU</string>
	<key>GCM_SENDER_ID</key>
	<string>461008633850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.devathon</string>
	<key>PROJECT_ID</key>
	<string>devathon-76255</string>
	<key>STORAGE_BUCKET</key>
	<string>devathon-76255.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461008633850:ios:0b16d3cd79f92eb2dfee43</string>
</dict>
</plist>